<!-- views/head.ejs -->

<meta charset="UTF-8">
<title>Coconut Board</title>

<!-- CSS (load bootstrap from a assets) -->
<link rel="stylesheet" href="assets/lib/css/bootstrap.css">
<style>
    body    { padding-top:50px; }
</style>