<!-- views/head.ejs -->

<meta charset="UTF-8">
<title>Coconut Board</title>

<!-- CSS (load bootstrap from a assets) -->
<link rel="stylesheet" href="assets/lib/css/bootstrap.css">
<link rel="stylesheet" href="public/dashboard/stylesheet/css/dashboard.css">
<!-- font-awesome , but need to load from local -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
