<!-- views/head.ejs -->

<meta charset="UTF-8">
<title>Coconut Board</title>

<!-- Public CSS (load bootstrap from a assets) -->
<link rel="stylesheet" href="assets/lib/css/bootstrap.css">
<link rel="stylesheet" href="assets/lib/css/font-awesome.css">
<!-- Custom CSS  -->
<link rel="stylesheet" href="public/dashboard/stylesheet/css/dashboard.css">

